@import "tailwindcss";

/* Hide scrollbar but allow scrolling */
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
